<!DOCTYPE html>  
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">  
    <head>  
        <title>Hello World!</title>
<!--        <script src="http://code.jquery.com/jquery-1.10.1.min.js">-->
        <script>
            function myFunction(){
                document.getElementById("demo").innerHTML="Hello World";
                $('#demo').html("Hello World jQuery");

            }
            function Parent(name) {
                this.color = ["red", "blue"];
                this.name = name;
            }
            Parent.prototype.ps = function () {
                alert(this.name+this.color);
            }
            function Child(name, age) {

                Parent.call(this, name);
                this.age = age;
            }

            function Person(name, age) {
                this.name = name;
                this.age = age;
                this.address = "Shanghai";
            }
            Person.prototype = {
                constructor: Person,
                say: function () {
                    alert(this.name);
                }
            }

            function People() {

            }
            People.prototype.name = "Ada";
            People.prototype.age = 23;
            People.prototype.say = function () {
                alert(this.name+","+this.age);
            }
            var Ada = new People();
            Ada.say();

            var liudehua = new Person("Liu dehua", "18");
            var gutianle = liudehua;
            // alert(liudehua.name + "," + liudehua["address"]);
            // alert(gutianle.name + "," + gutianle.address);
            gutianle.name = "Gutianle";
            // alert(gutianle.name + "," + gutianle.address);
            // alert(liudehua.name + "," + liudehua["address"]);

            // function f1(){
            //     alert("f1");
            // }
            // var f2 = f1()

            // for (var a in liudehua){
            //     alert(a + "," + liudehua[a]);
            // }
            // alert(typeof Person);
            var d = new Date();
            document.write(d);
            function fn1(arg) {
                var rel = function (num) {
                    return arg + num;
                }
                return rel;
            }
            var f = fn1(20);
            // alert(f);
            // alert(f(11));
            // function say(num) {
            //     alert(arguments.length);
            //     alert(num);
            //     return fn1.apply(this, arguments)
            // }
            // say(1,2,3);
            // alert(say.length);
            var person = new Object();
            person.name = "Echo";
            person.age = 18;
            alert(person.name);
            var liudehua = {"name":"Liudehua"," ":"26"}
            alert(liudehua.name)
        </script>
    </head>  
    <body>  
        <h1 th:inline="text">Hello.v.2</h1>  
<!--        <p th:text="${hello}"></p>  -->
        <p>Click button to trigger function.</p>
        <button onclick="myFunction()">Button</button>
        <p id="demo"></p>

        <div id="append">
        <span>Span Context01</span>
        <p>This is a paragraph.</p>
    <ol>
    <li>List item 1</li>
    </ol>
    </div>
        <script>
            $(document).ready(function(){
                $('span').append('Added Context');//无效果
                $("p").append(" <b>Appended text</b>.");//有标签效果
                $("ol").append("<li>Appended item</li>");
            });


        </script>
    </body>  
</html>  
