<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="./../static/jquery-3.5.1.js"></script>
    <script>
        // 使用方法如下
        // $(document).ready(function () {
        //     alert("hello jquery");
        // })
        // 但是一般可以这么用，而且下面的是常用的写法
        $(function () {
            // To get a javascript object by js statement
            var femaleJS = document.getElementsByClassName("female");
            // femaleJS is javascript object so that we could not use jQuery function .css()
            // femaleJS.css("color", "#f00");
            // use $(xxx) can make JS object as a jquery object
            $(femaleJS).css("color", "#f00");
            // every jquery node is array, and its value is js node
            // alert($("ul li").length);
            // alert($("ul li")[1].html());
            var mingUsers = $("ul#ming li");
            for (var i = 0; i < mingUsers.length; i++) {
                // This is js usage description.
                var mingUser = mingUsers[i];
                mingUser.innerHTML = "[" + (i + 1) + "]" + mingUser.innerHTML;
            }
            var wudangUsers = $("ul#wudang li");
            for (var i = 0; i < wudangUsers.length; i++) {
                // This is the usage description of jQuery.
                var wudangUser = $(wudangUsers[i]);
                wudangUser.html("[" + (i + 1) + "]" + wudangUser.html());
            }
        })
    </script>
</head>
<body>

<div id="wulin">
    <ul id="ming">
        <li class="male">Zhang Wuji</li>
        <li class="female">Yang Buhui</li>
        <li class="male">Yang Xiao</li>
        <li class="male">Fan Yao</li>
    </ul>
    <ul id="wudang">
        <li class="male">Zhang Sanfeng</li>
        <li class="male">Zhang Cuishang</li>
        <li class="male">Song Yuanqiao</li>
        <li class="male">Song Qingshu</li>
    </ul>
    <ul id="emei">
        <li class="female">Mei Jue</li>
        <li class="female">Zhou Zhiruo</li>
        <li class="female">Ji Xiaofu</li>
        <li class="female">Ding Minjun</li>
    </ul>
</div>
</body>
</html>