<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="./../static/jquery-3.5.1.js"></script>
    <script>
        // 使用方法如下
        // $(document).ready(function () {
        //     alert("hello jquery");
        // })
        // 但是一般可以这么用，而且下面的是常用的写法
        $(function () {
            var helloJS = document.getElementsByClassName("female");
            // helloJS.css("color", "#ffo");// helloJS is javascript object
            $(helloJS).css("color", "#f00"); // use $(xxx) can make JS object as a jquery object
            // every jquery node is array, and its value is js node
            // alert($("ul li").length);
            // alert($("ul li")[1].html());
            var mingUsers = $("ul#ming li");
            for (var i = 0; i < mingUsers.length; i++) {
                var user = mingUsers[i]
                user.innerHTML = "["+(i+1)+"]"+ user.innerHTML;
            }
            var wudangUsers = $("ul#wudang li");
            for (var i = 0; i < wudangUsers.length; i++){
                var wudangUser = $(wudangUsers[i]);
                wudangUser.html("["+(i+1)+"]"+wudangUser.html());
            }
            // for (var i = 0; i < $("ul li").length; i++){
            //     alert($("li.male")[i].innerHTML);
            // }
            // $("#hello ul li.Chris").html(this.value() + "hello li");
        })
    </script>
</head>
<body>

<div id="wulin">
    <ul id="ming">
        <li class="male">Zhang Wuji</li>
        <li class="female">Yang Buhui</li>
        <li class="male">Yang Xiao</li>
        <li class="male">Fan Yao</li>
    </ul>
    <ul id="wudang">
        <li class="male">Zhang Sanfeng</li>
        <li class="male">Zhang Cuishang</li>
        <li class="male">Song Yuanqiao</li>
        <li class="male">Song Qingshu</li>
    </ul>
    <ul id="emei">
        <li class="female">Mei Jue</li>
        <li class="female">Zhou Zhiruo</li>
        <li class="female">Ji Xiaofu</li>
        <li class="female">Ding Minjun</li>
    </ul>
</div>
</body>
</html>