<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>User Login</title>
</head>
<body>
<div id="allLoginArea">
    <div>
        <label>Dear friends, login please</label>
        <br/>
        <input id="username"/><label id="user-name-error" hidden></label><br/>
        <input id="password" type="password"/><br/>
        <input id="login" type="button" value="Log In"/>
    </div>
</div>
<div id="showArea"></div>
<script type="text/javascript" src="./../static/jquery-3.5.1.js"></script>
<script>
    window.onload = init;

    function init() {
        var login = document.getElementById("login");
        login.onclick = function login() {
            var username = document.getElementById("username").value;
            var password = document.getElementById("password").value;
            $.ajax({
                url: "/client/user/" + username + "?age=18", success: function (data) {
                    if (data != null && data.length) {
                        var userNameErrorMsg = document.getElementById("user-name-error");
                        userNameErrorMsg.hidden = false;
                        userNameErrorMsg.innerHTML = "The user already exists!";
                    } else {
                        var userNameErrorMsg = document.getElementById("user-name-error");
                        userNameErrorMsg.hidden = true;
                    }
                }
            })
            document.getElementById("showArea").innerHTML = 'User name is ' + username + ' and password is ' + password + ' and event is: ' + event.type;
        }
    }
</script>
</body>
</html>